<div class="modal-header">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li *ngFor="let step of navigationSteps; let i = index" class="nav-item">
            <a [class.active]="selectedNavIndex === i" (click)="setSelectedNavIndex(i)" class="nav-link pointer"
                role="tab" aria-controls="pills-home">
                {{ step }}
            </a>
        </li>
    </ul>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Tab 0 contains list of all devices at the current feature -->
    <table *ngIf="selectedNavIndex === 0" class="table table-sm mb-0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices; let i = index" (click)="setselectedDeviceIndex(i)"
                [class.table-active]="selectedDeviceIndex === i" class="pointer">
                <th scope="row">
                    <input [checked]="selectedDeviceIndex === i" type="radio" name="customRadio"
                        class="form-check-input">
                    <label class="form-check-label"></label>
                </th>
                <td><strong>{{ device.name }}</strong></td>
                <td>{{ device.category }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Currently selected device information -->
    <table *ngIf="selectedNavIndex === 1" class="table table-sm table-striped mb-0">
        <caption class="sr-only sr-only-focusable" i18n>Sensor details</caption>
        <thead class="sr-only sr-only-focusable">
            <tr>
                <th scope="col" i18n>Attribute</th>
                <th scope="col" i18n>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{ devices[selectedDeviceIndex].name }}</td>
            </tr>
            <tr>
                <td><strong>Category</strong></td>
                <td>{{ devices[selectedDeviceIndex].category }}</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ devices[selectedDeviceIndex].description }}</td>
            </tr>
            <tr>
                <td><strong>Connectivity</strong></td>
                <td>{{ devices[selectedDeviceIndex].connectivity }}</td>
            </tr>
            <tr *ngIf="devices[selectedDeviceIndex].networkOperator">
                <td><strong>networkOperator</strong></td>
                <td>{{ devices[selectedDeviceIndex].networkOperator }}</td>
            </tr>
            <tr *ngIf="devices[selectedDeviceIndex].powerSupply">
                <td><strong>powerSupply</strong></td>
                <td>{{ devices[selectedDeviceIndex].powerSupply }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Sensors -->
    <div *ngIf="selectedNavIndex === 2">
        <div *ngFor="let sensor of getSensors(devices[selectedDeviceIndex]); let i = index" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ sensor.name }}</h5>
                <div class="card-body m-1">
                    <div class="row">
                        <div class="col-12">
                            <label><span>Description</span></label>
                            <input value="{{ sensor.description }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.type" class="col-12">
                            <label><span>Type</span></label>
                            <input value="{{ sensor.type }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.manufacturer" class="col-12">
                            <label><span>Manufacturer</span></label>
                            <input value="{{ sensor.manufacturer }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.supplier" class="col-12">
                            <label><span>Supplier</span></label>
                            <input value="{{ sensor.supplier }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.documentation" class="col-12">
                            <label><span>Documentation</span></label>
                            <input value="{{ sensor.documentation }}" type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Datastreams -->
    <div *ngIf="selectedNavIndex === 3">
        <div *ngFor="let datastream of getDatastreams(devices[selectedDeviceIndex]); let i = index" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ datastream.name }}</h5>
                <div class="card-body m-1">
                    <div class="row">
                        <div *ngIf="datastream.description" class="col-12">
                            <label><span>Description</span></label>
                            <input value="{{ datastream.description }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="datastream.unitOfMeasurement" class="col-12">
                            <label><span>Unit of measurement</span></label>
                            <input value="{{ datastream.unitOfMeasurement }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="datastream.isActive !== undefined" class="col-md-3 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.isActive" type="checkbox" class="mr-2" readonly>
                                <span>Is Active</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isPublic !== undefined" class="col-md-3 mt-1 text-center">
                            <label>
                                <input [checked]="datastream.isPublic" type="checkbox" class="mr-2" readonly>
                                <span>Is Public</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isOpenData !== undefined" class="col-md-3 mt-1 text-right">
                            <label>
                                <input [checked]="datastream.isOpenData" type="checkbox" class="mr-2" readonly>
                                <span>Is Open Data</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.containsPIData !== undefined" class="col-md-3 mt-1 text-right">
                            <label>
                                <input [checked]="datastream.containsPIData" type="checkbox" class="mr-2" readonly>
                                <span>Contains PI Data</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isReusable !== undefined" class="col-md-3 mt-1 text-right">
                            <label>
                                <input [checked]="datastream.isReusable" type="checkbox" class="mr-2" readonly>
                                <span>Is Reusable</span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label><span>Documentation</span></label>
                            <input value="{{ datastream.documentation }}" type="text" class="form-control" readonly>
                        </div>
                        <div class="col-12">
                            <label><span>Datalink</span></label>
                            <input value="{{ datastream.dataLink }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="datastream.dataClassification !== undefined" class="col-12">
                            <label><span>Data Classification</span></label>
                            <input value="{{ datastream.dataClassification }}" type="number" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location -->
    <table *ngIf="selectedNavIndex === 4" class="table table-sm table-striped mb-0">
        <caption class="sr-only sr-only-focusable" i18n>Sensor details</caption>
        <thead class="sr-only sr-only-focusable">
            <tr>
                <th scope="col" i18n>Attribute</th>
                <th scope="col" i18n>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Longitude</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[0] }}</td>
            </tr>
            <tr>
                <td><strong>Latitude</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[1] }}</td>
            </tr>
            <tr>
                <td><strong>Height</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[2] }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Location -->
    <table *ngIf="selectedNavIndex === 5" class="table table-sm table-striped mb-0">
        <caption class="sr-only sr-only-focusable" i18n>Sensor details</caption>
        <thead class="sr-only sr-only-focusable">
            <tr>
                <th scope="col" i18n>Attribute</th>
                <th scope="col" i18n>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Longitude</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[0] }}</td>
            </tr>
            <tr>
                <td><strong>Latitude</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[1] }}</td>
            </tr>
            <tr>
                <td><strong>Height</strong></td>
                <td>{{ devices[selectedDeviceIndex].location[2] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger mb-0" (click)="decline()">{{ btnCancelText }}</button>
</div>
