<div class="modal-header">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li *ngFor="let step of navigationSteps; let i = index" class="nav-item">
            <a [class.active]="selectedNavIndex === i" (click)="setSelectedNavIndex(i)" class="nav-link pointer"
                role="tab" aria-controls="pills-home">
                {{ step }}
            </a>
        </li>
    </ul>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Tab 0 contains list of all devices at the current feature -->
    <table *ngIf="selectedNavIndex === 0" class="table table-sm mb-0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" i18n>Name</th>
                <th scope="col" i18n>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices; let i = index" (click)="setselectedDeviceIndex(i)"
                [class.table-active]="selectedDeviceIndex === i" class="pointer">
                <th scope="row">
                    <div class="custom-control custom-checkbox text-muted">
                        <input [checked]="selectedDeviceIndex === i" type="radio" name="customRadio"
                               class="form-check-input">
                        <label class="form-check-label"></label>
                    </div>
                </th>
                <td><strong>{{ device.name }}</strong></td>
                <td>{{ device.category }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Currently selected device information -->
    <table *ngIf="selectedNavIndex === 1" class="table table-sm table-striped mb-0">
        <caption class="sr-only sr-only-focusable" i18n>Sensor details</caption>
        <thead class="sr-only sr-only-focusable">
            <tr>
                <th scope="col" i18n>Attribute</th>
                <th scope="col" i18n>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong i18n>Name</strong></td>
                <td>{{ devices[selectedDeviceIndex].name }}</td>
            </tr>
            <tr>
                <td><strong i18n>Category</strong></td>
                <td>{{ devices[selectedDeviceIndex].category }}</td>
            </tr>
            <tr>
                <td><strong i18n>Description</strong></td>
                <td>{{ devices[selectedDeviceIndex].description }}</td>
            </tr>
            <tr>
                <td><strong i18n>Connectivity</strong></td>
                <td>{{ devices[selectedDeviceIndex].connectivity }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Sensors -->
    <div *ngIf="selectedNavIndex === 2">
        <div *ngFor="let sensor of getSensors(devices[selectedDeviceIndex]); let i = index" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ sensor.name }}</h5>
                <div class="card-body m-1">
                    <div class="row">
                        <div class="col-12">
                            <label><span i18n>Description</span></label>
                            <input value="{{ sensor.description }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.type" class="col-12">
                            <label><span i18n>Type</span></label>
                            <input value="{{ sensor.type }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.manufacturer" class="col-12">
                            <label><span i18n>Manufacturer</span></label>
                            <input value="{{ sensor.manufacturer }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.supplier" class="col-12">
                            <label><span i18n>Supplier</span></label>
                            <input value="{{ sensor.supplier }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="sensor.documentation" class="col-12">
                            <label><span i18n>Documentation</span></label>
                            <app-external-link url="{{ sensor.documentation }}" class="form-control" readonly></app-external-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Datastreams -->
    <div *ngIf="selectedNavIndex === 3">
        <div *ngFor="let datastream of getDatastreams(devices[selectedDeviceIndex]); let i = index" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ datastream.name }}</h5>
                <div class="card-body m-1">
                    <div class="row">
                        <div *ngIf="datastream.description" class="col-12">
                            <label><span i18n>Description</span></label>
                            <input value="{{ datastream.description }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="datastream.unitOfMeasurement" class="col-12">
                            <label><span i18n>Unit of measurement</span></label>
                            <input value="{{ datastream.unitOfMeasurement }}" type="text" class="form-control" readonly>
                        </div>
                        <div *ngIf="datastream.isActive !== undefined" class="col-md-2 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.isActive" type="checkbox" class="mr-2" readonly>
                                <span i18n>Is Active</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isPublic !== undefined" class="col-md-2 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.isPublic" type="checkbox" class="mr-2" readonly>
                                <span i18n>Is Public</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isOpenData !== undefined" class="col-md-2 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.isOpenData" type="checkbox" class="mr-2" readonly>
                                <span i18n>Is Open Data</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.containsPersonalInfoData !== undefined" class="col-md-2 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.containsPersonalInfoData" type="checkbox" class="mr-2" readonly>
                                <span i18n>Contains PI Data</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.isReusable !== undefined" class="col-md-2 mt-1 text-left">
                            <label>
                                <input [checked]="datastream.isReusable" type="checkbox" class="mr-2" readonly>
                                <span i18n>Is Reusable</span>
                            </label>
                        </div>
                        <div *ngIf="datastream.documentation" class="col-12">
                            <label><span i18n>Documentation</span></label>
                            <app-external-link url="{{ datastream.documentation }}" class="form-control" readonly></app-external-link>
                        </div>
                        <div *ngIf="datastream.dataLink" class="col-12">
                            <label><span i18n>Datalink</span></label>
                            <app-external-link url="{{ datastream.dataLink }}" class="form-control" readonly></app-external-link>
                        </div>
                    </div>
                    <table *ngFor="let observationGoalId of datastream.observationGoalIds"
                           class="table table-sm table-striped mt-5">
                        <caption i18n>Legal ground</caption>
                        <thead class="sr-only sr-only-focusable">
                        <tr>
                            <th scope="col" i18n>Attribute</th>
                            <th scope="col" i18n>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong i18n>Name</strong></td>
                                <td>{{ observationGoalsMap.get(observationGoalId).name }}</td>
                            </tr>
                            <tr>
                                <td><strong i18n>Description</strong></td>
                                <td>{{ observationGoalsMap.get(observationGoalId).description }}</td>
                            </tr>
                            <tr *ngIf="observationGoalsMap.get(observationGoalId).legalGround">
                                <td><strong i18n>legalGround</strong></td>
                                <td>{{ observationGoalsMap.get(observationGoalId).legalGround }}</td>
                            </tr>
                            <tr *ngIf="observationGoalsMap.get(observationGoalId).legalGroundLink">
                                <td><strong i18n>legalGroundLink</strong></td>
                                <td>
                                    <app-external-link url="{{ observationGoalsMap.get(observationGoalId).legalGroundLink }}"></app-external-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Location -->
    <table *ngIf="selectedNavIndex === 4 && getLocation(devices[selectedDeviceIndex]) as location"
        class="table table-sm table-striped mb-0">
        <caption class="sr-only sr-only-focusable" i18n>Sensor details</caption>
        <thead class="sr-only sr-only-focusable">
            <tr>
                <th scope="col" i18n>Attribute</th>
                <th scope="col" i18n>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong i18n>Longitude</strong></td>
                <!-- show with 3 decimals minimum, 6 maximum -->
                <td>{{ location.coordinates[0] | number: '1.3-6' }}</td>
            </tr>
            <tr>
                <td><strong i18n>Latitude</strong></td>
                <td>{{ location.coordinates[1] | number: '1.3-6' }}</td>
            </tr>
            <tr *ngIf="location.coordinates[2] !== null">
                <td><strong i18n>Height</strong></td>
                <td>{{ location.coordinates[2] | number: '1.0-2' }} meter</td>
            </tr>
        </tbody>
    </table>
    <!-- Contact -->
    <div *ngIf="selectedNavIndex === 5 && legalEntities | async as legalEntities">
        <div *ngFor="let legalEntity of legalEntities; let i = index" class="card mb-1">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ legalEntity.name }} (Owner)</h5>
                <div class="card-body m-1">
                    <div class="row">
                        <div class="col-12">
                            <label><span i18n>Website</span></label>
                            <app-external-link url="{{ legalEntity.website }}" class="form-control" readonly></app-external-link>
                        </div>
                    </div>
                    <table *ngFor="let contactDetail of legalEntity.contactDetails"
                        class="table table-sm table-striped mt-5">
                        <caption i18n>Contact details</caption>
                        <thead class="sr-only sr-only-focusable">
                            <tr>
                                <th scope="col" i18n>Attribute</th>
                                <th scope="col" i18n>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong i18n>Name</strong></td>
                                <td>{{ contactDetail.name }}</td>
                            </tr>
                            <tr>
                                <td><strong i18n>E-mail</strong></td>
                                <td>{{ contactDetail.email }}</td>
                            </tr>
                            <tr>
                                <td><strong i18n>Phone</strong></td>
                                <td>{{ contactDetail.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger mb-0" (click)="decline()">{{ btnCancelText }}</button>
</div>
